
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    max-width: 1920px;
}
ul,ol{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: #fff;
}
.row,.register,.menu,.head1,.head2,.icons,.faverite,.cart,.intpic,.banner,.seller_title,.pro_icon,.d_txt{
    display: flex;
}
.row{
    width: 80%;
    justify-content: space-between;
}


/*header*/
header p{
   margin: 6px;
   font-size: 24px;
}
.head1,.head2{
    background: #000;
    justify-content: space-around;
}
.head2{
    background: #fff;
}
.title p{
    color: #3C7260;
    font-weight: bolder;
}
.search svg{
   margin: auto 6px;
}
.register a{
    color: #a3a3a3;
}
.register a:hover{
    color: #ffffff;
}

.login{
    border: 1px solid gray;
}
.login p{
    font-size: 14px;
    padding: 6px;
}
.menu{
    margin: 0;
}
.menu li,.faverite,.cart{
    padding: 12px;
    border-left: 1px solid #ECECE7;
    border-right: 1px solid #ECECE7;
}
.faverite,.cart{
    padding: 12px 24px;
}
.count{
    font-size: 11.5px;
    padding: 0 3px;
    padding-top: 2px;
    margin-left: 6px;
    border-radius: 5px;
    color: #fff;
}
.fav_count{
    background: #ADADAD;
    
}
.cart_count{
    background: #57C5A0;
}


/*tbody*/

.tbody{
    background: #ECECE7;
}

.carousel-item{
    display: flex;
}
.carousel-caption{
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: start;
    color: #000;
    
}

.slide{
    width: 100%;
}
.carousel-inner{
    display: flex;
    position: relative;
}
.xxx{
    background: #a00;
    
}
.ttt{
    position: absolute;
    top: 0;
    right: 0;
    
}

.banner{
    background: #000;
    width: 100%;
}
.banner > .row,.sellersMonth > .row,footer > .row{
    margin: auto;
}
.banner_f{
    position: relative;
    margin: 12px;
}
.banner_f > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #000;
    padding: 8px;
    margin: 0;
    opacity: .7;
    z-index: 99;
}
.sellersMonth{
    padding-bottom: 2em;
}
.seller_title{
    width: 100%;
    justify-content: space-between;
    margin: 12px;
}
.show{
    border: 1px solid #BEB7A9;
    color: #BEB7A9;
    padding: 3px 20px;
    line-height: 2;
}
.show:hover{
    border: 1px solid #fff;
    color: #fff;
    background: #BEB7A9;
}

.intpic{
    width: 100%;
    justify-content: space-between;
}
.zone{
    position: relative;
    background: #CCCCCC;
}
.zone_txt{
    display: flex;
    padding-left: 10px;
}
.zone p{
    position: absolute;
    right: 10px;
    width: 80px;
    background: #F27E4B;
    text-align: center;
}
.zone img{
    border-bottom: 1px solid #fff;
}
.price{
    position: relative;
    top: -10px;
    left: 10px;
    padding: 6px 8px;
    margin: -10px;
    background: #56C29E;
    color: #fff;

}
.pro_name{
    position: relative;
    text-align: center;
    margin: auto;
    padding: 6px;
}
.zone_icons{
    position: relative;
    text-align: center;
    margin: auto;
    width: 150px;
    overflow: hidden;
}
.pro_icon{
    position: absolute;
    margin-left: 6px;
}
.zone_icons:hover .pro_name,.zone_icons:hover .pro_icon {
    transform: translateY(-30px);
    transition: all .5s ease-out;
}
.icon{
    margin-right: 8px;
}
.icon a{
    color: #000;
}
hr{
    width: 80%;
    margin: 3em auto 2.5em;
}
/*content*/
.content{
    display: grid;
    grid-gap: 1em;
    width: 80%;
    margin: auto;
}
.box{
    background: #DFDBD4;
    padding: 2em 1em 1em;
}
.box p{
    margin: 3px;
}
.box .date{
    width: 10%;
    margin-right: 6px;
    padding: 3px 8px;
    text-align: center;
    color: #fff;
    background: #57C5A0;
}
.box1 .txt1{
    margin-bottom: 5em;
}
.d_txt1{
    margin-bottom: 2em;
}
.box h3{
    text-transform: uppercase;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.box2{
    grid-column: 3/4;
    grid-row: 1;
}
.box3{
    grid-column: 5/16;
    grid-row: 1;
}
.box4{
    grid-column: 3/15;
    grid-row: 2; 
}
.box5{
    grid-column: 15/16;
    grid-row: 2;
}
/*footer*/
footer{
    color: #ccc;
    background: #000;
    padding: 3em 0;
}
footer a{
    color: #ccc;
}

















