
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    max-width: 1920px;
}
.container-fluid{
    padding: 0;
}
ul,ol{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: #fff;
}
.row,.register,.menu,.cart_list li,.head1,.head2,.icons,.faverite,.cart,.intpic,.banner,.seller_title,.pro_icon,.d_txt{
    display: flex;
    display: -webkit-flex;
}
.row{
    width: 80%;
    justify-content: space-between;
}
.icon svg:hover{
    color: #57C5A0;
}
/*header*/
header p{
   margin: 6px;
   font-size: 24px;
}
.head1,.head2{
    background: #000;
    justify-content: space-around;
}
.head2{
    background: #fff;
}
.title p{
    color: #3C7260;
    font-weight: bolder;
}
.head2 input,.hamburger{
    display: none;
}
.search svg{
   margin: auto 6px;
   color: #ccc;
}
.input_search{
    width: 0;
    border: none;
    margin: 6px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.input_search:focus{
    width: 100px;
}
.search:hover .input_search{
    width: 100px;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
}
.login{
    border: 1px solid gray;
}
.login p{
    font-size: 14px;
    padding: 6px;
}
.menu{
    position: relative;
    margin: 0;
}
.menu_li a{
    color: #000;
}
.menu_li:hover{
    background: #ccc;
}
#cart:checked ~ .cart_zone{
    display: block;
}
.menu_li,.faverite,.cart{
    margin-bottom: 0;
    padding: 12px;
    border-left: 1px solid #ECECE7;
    border-right: 1px solid #ECECE7;
}
.faverite,.cart{
    padding: 12px 24px;
}
.count{
    font-size: 11.5px;
    padding: 0 3px;
    padding-top: 2px;
    margin-left: 6px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    color: #fff;
}
.fav_count{
    background: #ADADAD;
}
.cart_count{
    background: #57C5A0;
}
.cart_zone{
    position: absolute;
    display: none;
    font-weight: 700;
    top: 15%;
    right: 10%;
    width: 10%;
    z-index: 16;
}
.cart_item::after{
    position: absolute;
    content: "";
    background: #fff;
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    top: -10%;
    right: 15%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    z-index:-1;
}
.cart_item{
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    width: 200px;
    padding: 8px;
    z-index: 0;     
}
.cart_list li{
    border-bottom: 1px solid  #ECECE7;
    justify-content: space-between;
}
.itemText{
    text-align: center;
}

/*tbody*/
.tbody{
    background: #ECECE7;
}
.slide{
    width: 80%;
    margin: auto;
}
.carousel_img{
    width: 50%;
}
.ttt{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    text-align: left;
    padding: 5em;
    background: #cccccc;
}
.sss{
    width: 20%;
}
.carousel-caption h5,.carousel-caption p{
    margin: 3px;
}
.carousel-item{
    position: relative;
}
.carousel_icon{
    display: flex;
    display: -webkit-flex;
}
.carousel_icon .bi{
    background: #FAFAF9;
    padding: 6px;
}
.carousel-indicators li {
    width: 20%;
    margin: .5em;
}
.carousel-indicators{
    background: #000;
    width: 100%;
    margin: auto;
}
.banner{
    background: #000;
    width: 100%;
}
.banner > .row,.sellersMonth > .row,footer > .row{
    margin: auto;
}
.banner_f{
    position: relative;
    margin: 12px;
}
.banner_f > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #000;
    padding: 8px;
    margin: 0;
    opacity: .7;
    z-index: 99;
}
.sellersMonth{
    padding-bottom: 2em;
}
.seller_title{
    width: 100%;
    justify-content: space-between;
    margin: 12px;
}
.show{
    border: 1px solid #BEB7A9;
    color: #BEB7A9;
    padding: 3px 20px;
    line-height: 2;
}
.show:hover{
    border: 1px solid #fff;
    color: #fff;
    background: #BEB7A9;
}
.intpic{
    width: 100%;
    justify-content: space-between;
}
.zone{
    position: relative;
    background: #CCCCCC;
}
.zone_txt{
    display: flex;
    display: -webkit-flex;
    padding-left: 10px;
}
.zone p{
    position: absolute;
    right: 10px;
    width: 80px;
    background: #F27E4B;
    text-align: center;
}
.zone img{
    border-bottom: 1px solid #fff;
}
.price{
    position: relative;
    top: -10px;
    left: 10px;
    padding: 6px 8px;
    margin: -10px;
    background: #56C29E;
    color: #fff;
}
.pro_name{
    position: relative;
    text-align: center;
    margin: auto;
    padding: 6px;
}
.zone_icons{
    position: relative;
    text-align: center;
    margin: auto;
    width: 150px;
    overflow: hidden;
}
.pro_icon{
    position: absolute;
    margin-left: 6px;
}
.pro_name, .pro_icon{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.zone_icons:hover .pro_name,.zone_icons:hover .pro_icon {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}
.icon{
    margin-right: 8px;
}
.icon a{
    color: #000;
}
hr{
    width: 80%;
    margin: 3em auto 2.5em;
}
/*content*/
.content{
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: 1em;
    width: 80%;
    margin: auto;
}
.box{
    background: #DFDBD4;
    padding: 2em 1em 1em;
}
.box:hover h3{
    font-weight: 700;
}
.box p{
    margin: 3px;
}
.box .date{
    width: 10%;
    margin-right: 6px;
    padding: 3px 8px;
    text-align: center;
    color: #fff;
    background: #57C5A0;
}
.box1 .txt1{
    margin-bottom: 5em;
}
.d_txt1{
    margin-bottom: 2em;
}
.box h3{
    text-transform: uppercase;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.box2{
    grid-column: 3/4;
    grid-row: 1;
}
.box3{
    grid-column: 5/15;
    grid-row: 1;
}
.box4{
    grid-column: 3/13;
    grid-row: 2; 
}
.box5{
    grid-column: 14/15;
    grid-row: 2;
}

/*footer*/
footer{
    color: #ccc;
    background: #000;
    padding: 3em 0;
}
footer a{
    color: #ccc;
}

/*平板*/
@media screen and (max-width:1200px) and (min-width:768px){
    .row,.banner img,.slide{
        width: 100%;
    }
    .sss{
        width: 45%;
    }
    .ttt{
        padding: auto 25px;
    }
    .banner .row{
        display: inline-block;
    }
    .banner_f{
        width: 60%;
        margin: 3em auto;
    }
    .banner_f p{
        font-size: 30px;
    }
    footer .row{
        padding: 2em;
    } 
    .content{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -ms-flex-direction: column;
    }
    .box1{
        order: 1;
    }
    .box2{
        order: 4;
    }
    .box3{
        order: 5;
    }
    .box4{
        order: 2;
    }
    .box5{
        order: 3;
    }
}

@media screen and (max-width:967px){
    .content{
        display: none;
    }
}

/*phone*/
@media screen and (max-width:767px) and (min-width:360px){
    .content,.hamburger{
        display: block;
    }
    .row,.slide,.carousel-item img,.ttt,.price,.intpic img{
        width: 100%;
    }
    .head2{
        justify-content: space-evenly;
    }
    header{
        z-index: 33;
    }
    .cart_item{
        display: none;
    }
    .hamburger{
        position: relative;
        width: 52.8px;
        height: 52.8px;
        padding: 10px;
        margin-bottom: 0;
    }
    .hamburger div{
        width: 32px;
        margin: 4px auto;
        height: 4px;
        border-radius: 3px;
        -webkit-border-radius:3px;
        -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
        background: #000;
    }
    .menu{
        display: none;
        background: #fff;
        width: 100%;
        z-index: 99;
    }
    .menu li{
        border-bottom: 1px solid gray;
    }
    #proMenu:checked ~ .menu{
        display: block;
    }
    #proMenu:checked ~ .icons{
        display: none;
    }
    .carousel-caption{
        width: 100%;
        position: relative;
        left: 0;
    }
    .ttt{
        padding-top: 12px;
    }
    .box .date{
        width: 20%;
    }
    .banner a{
        margin: auto;
    }
    .seller_title{
        display: block;
    }
    .seller_title .show{
        padding: 6px;
    }
    .intpic{
        display: block;
    }
    .intpic .zone{
        margin: 3em auto;
    }
    .zone_txt .price{
        width: 50%;
    }
    .company,.contact{
        margin-left: 30px;
    }
}


